.back {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #0a4690;
  margin: 0;
  display: block;
  padding: 5px 8px;
}
.back span {
  font-size: 25px;
  font-weight: bold;
}
.back:hover {
  width: fit-content;
  padding: 5px 8px;
  border-radius: 9px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
