.event-card {
  display: flex;
  flex-direction: column;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid;
  border-width: 1px;
  border-color: rgb(221, 218, 218);
  border-radius: 15px;
  background-color: white;
  row-gap: 10px;
  transition: all 0.4s;
}

.event-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transform: translatey(-5px);
}

.top-half {
  height: 230px;
  position: relative;
}

.status {
  position: absolute;
  background-color: rgb(223, 223, 249);
  color: rgb(122, 122, 250);
  right: 5px;
  top: 7px;
  padding: 4px 7px;
  border-radius: 10px;
  font-size: 12px;
}

.completed {
  background-color: rgb(251, 249, 245);
  color: black;
}

.ongoing {
  background-color: rgb(204, 249, 188);
  color: rgb(75, 141, 68);
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.event-detail {
  padding: 0px 15px 3px 15px;
  line-height: 20px;
  flex-grow: 1;
}

.time-and-location {
  display: grid;
  padding: 5px 7px;
  grid-template-columns: 20px 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  line-height: 25px;
  color: rgb(103, 102, 102);
}

.view-detail {
  display: flex;
  /* margin: 0px 80px 20px 80px; */
  margin: 0 20px 20px;
  align-self: stretch;
  font-size: 14px;
  padding: 5px 4px;
  border: none;
  background-color: #0a4690;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  justify-content: center;
  box-shadow: 0 0 5px rgba(16, 129, 241, 0.5);
  transition: scale 0.3s;
}

.view-detail:hover {
  scale: calc(1.05);
  cursor: pointer;
}

.view-detail:active {
  scale: calc(0.9);
}

.event-title {
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
  color: rgb(79, 116, 197);
  font-size: 18px;
}

.event-catagory {
  display: inline-block;
  border: solid;
  border-color: rgb(206, 204, 204);
  border-width: 1px;
  padding: 0px 4px;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  background-color: aliceblue;
}

.description {
  margin: 0px;
  margin-top: 8px;
  color: rgb(103, 102, 102);
  line-height: 18px;
  font-size: 16px;
}
