/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgb(213, 207, 207);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

/* LEFT SIDE */
.left-header {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 0;
}

.logo {
  width: 270px;
}

/* SEARCH BAR */

@media (max-width: 900px) {
  .header img {
    width: 200px;
  }

  /* .search-bar {
    max-width: 240px;
  } */
}

@media (max-width: 600px) {
  .header {
    height: auto;
    padding: 10px;
  }

  .left-header {
    width: 100%;
    justify-content: center;
  }

  /* .search-bar {
    max-width: 200px;
  } */
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    gap: 8px;
  }

  .right-header {
    justify-content: center;
  }

  /* .search-bar {
    max-width: 180px;
  } */
}
